# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Env vars
.env

# Sessões e Credenciais
sessions/
client_secret.json
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/

# Outros
*.log

# Build
build/

#Captura de thumbnails
captured-thumbnails/